.tangle-toggle {
  text-decoration: underline dashed #888;
  cursor: pointer;
}

.tangle-options {
  text-decoration: underline dashed #888;
  cursor: ew-resize;
}

.tangle-toggle, .tangle-options {
  color: #46f;
  text-decoration-color: #46f;
}
